

/* Шапка с меню */
/* Лого */
.logo img {
	width: 3.4rem;
	height:4rem;
}
.header, .cover, .free, .approach {
	background: linear-gradient(to right, #123, #345);
	color:#fff;
}
.header {
}
.header::before {
  content: "";
  background-image: url('../svg/LS.svg');
  width:36rem;
  height: 5.5rem;
	background-size: 36rem 36rem;
  opacity: 0.3;
  position: absolute;
  top:0rem;
  left:59.05rem;
  z-index: -1;
}
.header:hover::before, body.scrolled .header::before {
  opacity: 0.07;
}
.cover {
	font-size:1.9rem;
	clip-path: polygon(0 0, 100% 0, 100% 96.0%, 0 100%);
}
.cover h1 {
	width:65%;
	font-size:5.4rem;
}
.cover h1 span {font-size:4.2rem;}
.cover p, .cover footer {padding-bottom:2rem;}
.stats {
	position: absolute;
  bottom: 3rem;
  right: -3rem;
	z-index: 2;
  background-color: rgba(10, 30, 44, 0.9);
  border-radius: 2rem 0 0 2rem;
  padding: 1.5rem 3rem;
  width: 50%;
}
.stats:last-child {
  padding-right:0;
}
.cover::before {
  display: block;
  background-image: url('../svg/LS.svg');
  width:36rem;
  height:36rem;
	background-size: 36rem 36rem;
  opacity: 0.3;
  position: absolute;
  top:-5.2rem;
  left:59.05rem;
  z-index: 1;
}
.cover::after {
	display: block;
	bottom: -14.4rem;
	right: -10rem;
  background-image: url('../svg/lab.svg');
  width: 70rem;
  height: 70rem;
	background-size: 70rem 70rem;
	z-index: 1;
	opacity: 1;
}
.services {
	font-size:1.9rem;
	margin-top: -2.3rem;
	padding-top: 4.3rem;
	clip-path: polygon(0 2.6%, 100% 0, 100% 100%, 0% 100%);
}

.services::after {
	display: block;
	background-image: url('../svg/lab.svg');
  width: 70rem;
  height: 70rem;
	background-size: 70rem 70rem;
  top: -53.4rem;
  right: -10rem;
  filter: invert(100%);
	opacity: .5;
}
.services li::before {
	content: "";
	background: url('../svg/down.svg');
	background-size: 3rem 3rem;
	position: absolute;
  top:.1rem;
  left:-.7rem;
	width:3rem;
  height:3rem;
	transform: rotate(-90deg);
}
.free {
  font-size:1.9rem;
	color: #fff;
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 95%);
  padding: 8rem 3rem 8rem 4rem;
	z-index: 1;
}
.free p {
  padding-bottom: 4rem;
}
.hidden {
	visibility: hidden;
}
.free::after {    
  display: block;
	background: url('../img/consultant.webp');
  width: 43.2rem;
  height: 50rem;
	background-size: 43.2rem 50rem;
  bottom:0;
  right:0;
	opacity: 1;
}
.inside {
  background-color: #f8f9fa;
  background-image: url('../svg/9.svg');
  margin-top: -2.4rem;
	padding-top: 4rem;
}
.inside:before {
  display: block;
  background: url('../svg/wr.svg') no-repeat;
  width: 50rem;
  height: 50rem;
	background-size: 50rem 50rem;
  top: -14.8rem;
  left: -23rem;
  opacity: 0.15;
}
.inside h2 {
	padding-bottom: 2rem;
}
.inside p {
	padding-bottom: 1rem;
}
.inside > section > footer{
	grid-column: 1 / -1;
	text-align:right;
}
.faq-list ul {
  list-style:none;
}
.faq-list li {
	padding-left:0;
	margin-top: 1rem;
}
.faq-list li::before {
  content: '?';
  color: #39f;
	padding-right:0.5rem;
  font-weight: bold;
}
.faq-list ~ footer {
  margin-top:3rem;
}
.inside .с-3x{
  grid-column: 1 / -1;
}
.case-cards:after {
  content: '';
  position: absolute;
  top:1rem;
  right: 0;
  background: url('../img/case.webp');
  background-size: 50rem 18rem;
  width: 50rem;
  height: 18rem;
  opacity: 0.2;
	z-index: -1;
}
.case-cards header p{
	width: 65%;
	padding-bottom:0;
}
.case-cards div {
	background: #fff;
}
.case-cards div header{
	display: flex;
}
.case-image {
  margin-left: 1rem;
  flex-shrink: 0;  
}
.case-image img {
  width: 6rem;
  height: 6rem;
  border:0.1rem solid #aaa;
  border-radius: 50%;
  object-fit: cover;
}
.team {
	background-color: #123;
  color: #fff;
	text-align:center;
	padding-bottom:5rem;
}
.team h2{
	padding:2rem 0;
}
.team figure{
	background-color: #246;
}
.team img{
	width: 24rem;
	height: 24rem;
	border-radius: 50%;
	box-shadow: 0 0 0 0.2rem #fff;
}
.team p{
	color: #cde;
}
.redfl{
	font-size:1.8rem;
}
.redfl header{
	margin:0 7rem;
}
.redfl ul{
	margin:0 8rem;
}
.approach {
	clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 95%);
	padding-bottom:4rem;
}
.approach p{
	padding-bottom:2rem;
}
.approach li{
	padding-left:0;
}
.approach strong{
	color:#59c;
}
.approach header, .approach footer{
	margin:0 auto;
}
.approach::before {
  display: block;
	top:auto;
	bottom:2.1rem;
	background: url('../img/femida.webp');
	background-size: 43rem 43rem;
  width: 43rem;
  height: 43rem;
	opacity:1;
}
.refs h2::after {
	content: '';
	display:block;
  width: 20rem;
  height: 0.3rem;
  background: linear-gradient(45deg, #2c3e50, #3498db);
  margin:1rem 10rem 0;
}
.refs div::before {
	content: '"';
	display:inline-block;
	float:left;
	color:#39f;
	font-size: 6.4rem;
	height: 4rem;
	margin:-4rem 1rem 0rem 0;
	font-family: Georgia, serif;
}
.refs p {
	padding:1rem 0;
}
.refs strong{
	display:block;
}
.refs footer {
	text-align:right;
}
.footer {
  background-image: url('../svg/7.svg');
	padding-top:1rem;
}
a.f-logo {
	width: 100%;
	height: 10rem;
}
a.f-logo::before {
	display:block;
	left:3rem;
	width: 54rem;
	height: 10.2rem;
	background-size: 54rem 10.2rem;
	background-image: url('../svg/logo.svg');
	background-repeat: no-repeat;
	filter: invert(100%);
	opacity:1;
}
.footer a {
  padding-bottom:0;
}
.footer img {
  width: 48rem;
	filter: invert(100%);
}
@media (max-width: 800px) {
.padd > div, .padd > figure, .padd > section {
  padding:2rem 1rem;
}
.cover h1 {width:100%;}
.cover h1 span {font-size:5.4rem;}
.cover ul{font-size:1.6rem;}
.cover li{padding-left:1rem;}
.stats {
  bottom: 1rem;
  padding: 1.5rem 3rem;
  width: 60%;
	font-size:1rem;
}
.stats h2{
	font-size:2rem;
}
.stats p{
	padding:0;
}
.cover::after {
	bottom: -4rem;
	right: -11rem;
  width: 35rem;
  height: 35rem;
	background-size: 35rem 35rem;
}
.services {
	font-size:1.4rem;
	margin-top: -2.6rem;
}
.services::after {
  top: -28.4rem;
	right: -11rem;
	width: 35rem;
  height: 35rem;
	background-size: 35rem 35rem;
}
.services h3{
	font-size:1.9rem;
}
.services li::before {
  top:-.3rem;
}
.free {
  padding: 8rem 1rem;
}
.free p {
  padding: 2rem 0;
}
.free .big {
	width: 70%;
}
.free::after {    
  width: 17.3rem;
  height: 20rem;
	background-size: 17.3rem 20rem;
}
.inside {
	margin-top:-2.6rem;
  background-image: none;
}
.inside:before {
  display: block;
  background: url('../svg/wr.svg') no-repeat;
  width: 45rem;
  height: 45rem;
	background-size: 45rem 45rem;
  top: -9.4rem;
  left: -22rem;
  opacity: 0.1;
}
.case-cards, .case-cards h4{
	font-size:1.4rem;
}
.case-cards:after {
  top:11rem;
  background-size: 25rem 9rem;
  width: 25rem;
  height: 9rem;
}
.redfl{
	font-size:1.4rem;
}
.redfl h3{
	font-size:1.8rem;
}
.redfl header, .redfl ul{
	margin:0;
}
.approach {
	font-size:1.5rem;
	padding:5rem 1rem 7rem;
}
.approach .hidden{
	
}
.approach header{
  margin: 0;
}
.approach header{
  margin: 0;
}
.approach > *{
  grid-column: 1 / -1;
}
.approach li:last-child {
  width:70%;
}
.approach > footer{
  margin:0;
}
.approach::before {
	left:auto;
	right:0;
	bottom:-.0rem;
	background-size: 23rem 23rem;
  width: 23rem;
  height: 23rem;
}
.refs {
	grid-template-columns: repeat(1, 3fr);
}
.refs footer p{
	padding:0;
}
.footer {
	padding-top:2rem;
}
.footer ul {
	display: flex;
	gap: 2rem;
}
.footer li {
	flex: 1;
}
.footer li a{
	justify-content: center;	
	padding:2rem 0;
}
a.f-logo::before {
	left:1rem;
}
}
@media (min-width: 2000px) {
.cover::after {
	bottom: -12.4rem;
	width: 80rem;
  height: 80rem;
	background-size: 80rem 80rem;
}
.services {
	margin-top: -2.7rem;
}
.services::after {
  width: 80rem;
  height: 80rem;
	background-size: 80rem 80rem;
  top: -65rem;
}
.free::after {    
  width: 47.5rem;
  height: 55rem;
	background-size: 47.5rem 55rem;
	right:5rem;
}
.inside:before {
  width: 55rem;
  height: 55rem;
	background-size: 55rem 55rem;
  top: -14.8rem;
  left: -23rem;
}
.case-cards:after {
  top:2.5rem;
}
.approach::before {
	background-size: 57rem 57rem;
  width: 57rem;
  height: 57rem;
}
.footer {
	padding-top:3rem;
}
a.f-logo::before {
	left:11rem;
}
}